body
  background-color: black
  margin: 0
  color: white
  display: flex
  height: 100vh
  nav
    width: 290px
    li
      display: flex
      justify-content: space-around
      > *
        border: 1px solid green
  main
    min-width: 300px
    flex-grow: 1
  > *
    border: 1px solid red

.todo
  display: flex
  background-color: whitesmoke
  color: black
  width: 360px
  justify-content: space-between
  > *
    padding: 2.5rem 0
  .priority
    padding: 0
    width: 0.5rem

#todosList
  display: flex
  align-items: center
  flex-direction: column
  gap: 2rem

#popup
  background-color: green
  color: white
  width: 360px

.hidden
  display: none

@media only screen and (max-width: 1000px)
  nav
    display: none
@media only screen and (max-width: 500px)
  #popup
    display: none
